/* Text to add to "hello" div */
.style:after {
    content: " world";
}

a#myAnchor {
  visibility: hidden;
}
/* Text to replace on link under "myAnchor" id */
a#myAnchor:after {
  content: "My fancy link";
  visibility: visible;
}